body{
    background-image: url(dramatic-scenery-3840x2160-20802.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attacment: fixed;
}
#a1{
    color: rgb(27, 177, 177);
}
#a2{
    color: rgb(27, 177, 177);
}
#a3{
    color: rgb(27, 177, 177);
}
#b1{
    font-family: "roboto", sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    font-display: auto;
    font-variant: normal;
    color: aliceblue;
    font-optical-sizing: auto;
}
#h1{
    color: rgb(45, 160, 125);
}


