body{
    background-image: url(/Images/pexels-therato-1933239.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: height 100vh
}