body{
    background-image: url(dramatic-scenery-3840x2160-20802.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    backface-visibility: visible;
}
#a1{
    color: rgb(27, 177, 177);
}
#a2{
    color: rgb(27, 177, 177);
}
#a3{
    color: rgb(27, 177, 177);
}
#b1{
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    font-display: auto;
    font-variant: normal;
    color: aliceblue;
    font-variation-settings: "wdth" 100;
    font-optical-sizing: auto;
}
#h1{
    color: rgb(45, 160, 125);
}
.box{
    backdrop-filter:blur (4px);
    background: transparent;
    position: relative;
    width: auto;
    height: auto;
}

