body{
    background-image: url(dramatic-scenery-3840x2160-20802.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}  
#b1{
    font-family: roboto;
    font-size: medium;
    font-weight: bold;
    color: aliceblue;
    font-style: normal;
    font-display: auto;
    font-variant: normal;
}
h1{
    color: rgb(45, 160, 125);
}
#Home{
    color: rgb(27, 177, 177);
}
