body{
    background-image: url(dramatic-scenery-3840x2160-20802.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    backface-visibility: visible;
}  
#b1{
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: bold;
    color: aliceblue;
    font-style: normal;
    font-display: auto;
    font-variant: normal;
    font-optical-sizing: auto;
    font-variation-settings: "wdth"100;
}
h1{
    color: rgb(45, 160, 125);
}
#Home{
    color: rgb(27, 177, 177);
}
.box{
    backdrop-filter:blur (4);
    background: transparent;
}
